.claim-assessment__form-element {
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
}

.claim-assessment__padding {
  padding-top: $spacing-07;
  padding-bottom: $spacing-07;
}

.claim-assessment__padding_2 {
  padding-top: $spacing-06;
  padding-bottom: $spacing-02;
}

.claim-assessment__padding_3 {
  padding-top: $spacing-01;
  padding-bottom: $spacing-03;
}

.claim-assessment__text_padding {
  padding-top: $spacing-01;
}
